.bg-primary{
    background-color: #000600 !important;
}
h1, li, a{
    font-family: "vanHelsing", "Arvo";
}
h1, p, td, a{
    color: rgb(179, 179, 179) !important;
}
body{
    margin: 0;
    background-color: #000600;
    color: rgb(179, 179, 179);
}
.biggest{
    font-size: 50px;
}
.softer{
    font-weight: normal;
}
td{
    width: 50%;
}
.smallerpls{
    max-width: 50%;
    max-height: 500px;
}
.biggerpls{
    font-size: 35px;
}
p{
    font-family: "nexaLight";
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
}
a:hover{
    color: white !important;
}
.simple, td{
    font-family: "nexaLight";
    font-size: 16px;
}
footer{
    background-color:  #000600;
    padding: 30px;
    margin: 0px;
}
footer p{
    border-top: 2px solid rgb(179, 179, 179);
    padding-top: 30px;
}
h1{
    padding-top: 55px; margin-top: -55px
}